{% extends "dashboard/base.html" %}

{% block content %}

  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20">{{changelog}}</textarea>
  </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Control Chart</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Switch other Teams
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="/control-chart">All Teams</a>
                {% for team in teams %}
                    <a class="dropdown-item" href="?team={{ team }}">{{ teams[team]['name'] }}</a>
                {% endfor %}
                </div>
            </div> 
        </div>
    </div>
    <canvas class="my-4" id="afu-cc-stories" width="900" height="380"></canvas>
{% endblock %}

{% block script_footer %}
    <script>

        var afu_cc_stories_dataset = {
            labels: [
                {% for key in stories['points'] %}{% if loop.index != 1 %},{%endif%}
                '{{key}}'{% endfor %}
            ],
            datasets: [{
                label: 'Done by Month',
                borderColor: 'rgb(51, 102, 153)',
                backgroundColor: 'rgba(0, 0, 0, 0)',
                data: [
                    {% for key in stories['points'] %}{% if loop.index != 1 %},{%endif%}
                    {{stories['points'][key]}}{% endfor %}
                ],
            }, {
                label: 'CL',
                borderColor: 'rgb(255, 77, 77)',
                backgroundColor: 'rgba(0, 0, 0, 0)',
                data: [
                    {% for key in stories['points'] %}{% if loop.index != 1 %},{%endif%}
                    {{stories['CL']}}{% endfor %}
                ],
            }, {
                label: 'UCL',
                borderColor: 'rgb(51, 204, 51)',
                backgroundColor: 'rgba(0, 0, 0, 0)',
                data: [
                    {% for key in stories['points'] %}{% if loop.index != 1 %},{%endif%}
                    {{stories['UCL']}}{% endfor %}
                ],
            }, {
                label: 'LCL',
                borderColor: 'rgb(51, 204, 51)',
                backgroundColor: 'rgba(0, 0, 0, 0)',
                data: [
                    {% for key in stories['points'] %}{% if loop.index != 1 %},{%endif%}
                    {{stories['LCL']}}{% endfor %}
                ],
            }]
        };

        var afu_cc_stories = document.getElementById('afu-cc-stories').getContext('2d');
        
        var afu_cc_stories_chart = new Chart(afu_cc_stories, {
            type: 'line',
            data: afu_cc_stories_dataset,
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: true,
                title: {
                    display: true,
                    text: 'Control chart vision of stories done'
                },
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'amount story done in month'
						}
					}]
				},
                legend: {
                    display: false,
                }
            }
        });
    </script>
{% endblock %}