{% extends "dashboard/base.html" %}

{% block content %}

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <!--
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
            -->
          </div>

          <canvas class="my-4" id="myChart" width="900" height="180"></canvas>
          <canvas class="my-4" id="stories_done_by_team" width="900" height="180"></canvas>

{% endblock %}

{% block script_footer %}
    <script>
        chartColors = [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)',
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
        ];

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                {% autoescape off %}
                labels: ['{{stories_done_keys}}'],
                {% endautoescape %}
                datasets: [{
                    label: 'Done by month',
                    borderColor: chartColors[7],
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    {% autoescape off %}
                    data: [{{stories_done_values}}],
                    {% endautoescape %}
                }, {
                    label: 'CL',
                    borderColor: chartColors[6],
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    {% autoescape off %}
                    data: [{{stories_done_values_median}}],
                    {% endautoescape %}
                }, {
                    label: 'UCL',
                    borderColor: chartColors[6],
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    {% autoescape off %}
                    data: [{{stories_done_values_median_max}}],
                    {% endautoescape %}
                }, {
                    label: 'LCL',
                    borderColor: chartColors[6],
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    {% autoescape off %}
                    data: [{{stories_done_values_median_min}}],
                    {% endautoescape %}
                }]
            },
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: true,
                title: {
                    display: false,
                    text: 'Stories Done'
                },
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						},
						ticks: {
							suggestedMin: -10,
							suggestedMax: 200,
						}
					}]
				},
                legend: {
                    display: true,
                }
            }
        });

        // Stories done by team
        var ctx_sdbt = document.getElementById('stories_done_by_team').getContext('2d');
        var sdbt = new Chart(ctx_sdbt, {
            type: 'bar',
            data: {
                {% autoescape off %}
                labels: ['{{stories_done_keys}}'],
                {% endautoescape %}
                datasets: [{% for key in stories_team_done_values %}{% if loop.index != 1 %},{%endif%}{
                    label: '{{key}}',
                    backgroundColor: chartColors[{{loop.index}}],
                    data: [{% for month in stories_team_done_values[key] %}{% if loop.index != 1 %},{%endif%}{{stories_team_done_values[key][month]}}{% endfor %}]
                }{% endfor %}]
            },
            options: {
                title: {
                    display: true,
                    text: 'Stories Done by Team'
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>
{% endblock %}